.cardsDetails{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.subtitleDetails{
    color: rgb(250, 160, 43);
}

.detailSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}