.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seccionesProd{
    border-right: 1px solid gray;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.categoryFilter{
    border-right: 1px solid gray;
}